@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-family-base: "Segoe UI", "Roboto", "Arial", sans-serif;
  --color-base: #222;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-base);
  font-family: var(--font-family-base);
}

html,
body {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 480px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  color: var(--color-base);
}
.card_menu {
  transition: all ease 0.5s !important;
}
